{:paths ["src/main/"]

 :deps {fr.jeremyschoffen/textp-eval-alpha   {:mvn/version "0"}
        fr.jeremyschoffen/textp-html-alpha   {:mvn/version "0"}
        fr.jeremyschoffen/textp-lib-alpha    {:mvn/version "0"}
        fr.jeremyschoffen/textp-reader-alpha {:mvn/version "0"}}

 :aliases {:clj {:extra-deps {org.clojure/clojure {:mvn/version "1.10.1"}}}

           :nrepl  {:extra-deps {nrepl/nrepl      {:mvn/version "0.7.0"}}}

           :test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-541"}
                               lambdaisland/kaocha-cljs {:mvn/version "0.0-51"}}}

           :build {:extra-paths ["scripts" "src/doc"]
                   :extra-deps {fr.jeremyschoffen/mbt-alpha-unstable {:mvn/version "8"}}}}}